TRANSLEG_PORTAL_BASE_URL=https://2242.aleff.com.br/
TRANSLEG_CARRIER_CODE=0000
TRANSLEG_PORTAL_USERNAME=00000000000
TRANSLEG_PORTAL_PASSWORD=change-me
TRANSLEG_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/transleg
TRANSLEG_BROWSER_HEADLESS=true
TRANSLEG_BROWSER_DOWNLOAD_DIR=./downloads
TRANSLEG_PAGE_LOAD_TIMEOUT=180
TRANSLEG_DEFAULT_WAIT_TIMEOUT=20
TRANSLEG_DOWNLOAD_TIMEOUT=90
TRANSLEG_LOG_LEVEL=INFO

